# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
library_demo_env/

# pyenv
.python-version

# Stuff:
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/ 
.env