{% block content %}
<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: whitesmoke; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); text-align: center;">

  <h2 style="color: #003366; font-size: 24px; margin-bottom: 10px;">{{ book.title }}</h2>

  {% if cover_image_url %}
    <img src="{{ cover_image_url }}" alt="Cover image for {{ book.title }}" style="max-width: 120px; height: auto; margin-bottom: 20px;" />
  {% endif %}

  <p style="font-size: 18px; color: #003366; margin-bottom: 5px;"><strong>Author:</strong> {{ book.author }}</p>

  {% if book.summary %}
    <p style="font-size: 18px; color: #003366; margin-bottom: 5px;"><strong>Summary:</strong> {{ book.summary }}</p>
  {% endif %}

  <p style="font-size: 18px; color: #003366; margin-bottom: 10px;">
      <strong>Genres:</strong> 
      {% for genre in book.genres.all %}
          {{ genre.name }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
  </p>

  <footer style="font-size: 16px; color: #666; margin-top: 20px;">Shared via {{ website_name }} By Anthony Em | 安思辰</footer>
</div>

{% endblock %}

   
    <!-- User review and rating: This have been removed to protect user privacy IN book card generator feature. Kept for refrence 
    {% if review %}
      <p>Review by {{ review.user.username }}: {{ review.content }}</p>
      <p>Rating: {{ review.rating }}</p>
    {% endif %}
    -->